<ng-container *ngIf="(indexToShow$ | async) !== null">
  <div class="relative h-full overflow-hidden" [@.disabled]="!initialized">
    <ng-container *ngFor="let item of items; let i = index">
      <div class="absolute border-x top-1/4 h-1/2 flex items-center w-full justify-center"
           [@slot]="calcOffsetClass(i, (indexToShow$ | async)!)"
      >
        <fa-icon [icon]="['fas', item]"></fa-icon>
      </div>
    </ng-container>
    <div class="absolute z-50 top-0 left-0 right-0 h-1/6 bg-gradient-to-b from-black to-transparent"></div>
    <div class="absolute z-50 bottom-0 left-0 right-0 h-1/6 bg-gradient-to-t from-black to-transparent"></div>
  </div>
</ng-container>
