<ng-container *ngIf="(indexToShow$ | async) !== null">
  <div class="relative h-full overflow-hidden shadow-inner" [@.disabled]="!initialized">
    <ng-container *ngFor="let item of items; let i = index">
      <div class="absolute top-1/4 h-1/2 flex items-center w-full justify-center"
           [@slot]="calcOffsetClass(i, (indexToShow$ | async)!)"
      >
        <fa-icon size="5x" [icon]="item" class="text-teal-800"></fa-icon>
      </div>
    </ng-container>
    <div class="absolute inset-0  bg-gradient-to-b from-gray-700 via-transparent to-gray-700"></div>
  </div>
</ng-container>
