<div class="grid grid-cols-3 gap-4 p-4 w-full bg-teal-700">
  <ngsm-slot-item [items]="items" [targetIndex]="currentConfiguration[0]" [start$]="start$" [stop$]="stop$"></ngsm-slot-item>
  <ngsm-slot-item [items]="items" [targetIndex]="currentConfiguration[1]" [start$]="start$" [stop$]="stop$"></ngsm-slot-item>
  <ngsm-slot-item [items]="items" [targetIndex]="currentConfiguration[2]" [start$]="start$" [stop$]="stop$"></ngsm-slot-item>
</div>

<p>{{ currentConfiguration }}</p>

<button class="mt-8 px-4 py-2 bg-teal-700 text-gray-100 hover:underline"
        (click)="next()"
>Start</button>

<button class="mt-8 px-4 py-2 bg-teal-700 text-gray-100 hover:underline"
        (click)="stop()"
>Stop</button>
