<header class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Configuration</h1>
    <p class="text-gray-600">Here you can configure the slot machine.</p>
  </div>
</header>

<main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 divide-y">
  <section class="grid grid-cols-1 md:grid-cols-3 py-6 gap-8">
    <div class="col-span-1">
      <h2 class="text-xl font-bold tracking-tight text-gray-900">General settings</h2>
      <p class="text-gray-600">Adjust general settings for your slot machine, to customize it to your needs.</p>
    </div>

    <div class="col-span-1 md:col-span-2 space-y-4">
      <label class="block">
        <span class="block text-sm font-medium leading-6 text-gray-900">Name of the slot machine</span>
        <input type="text"
               class="form-input rounded mt-1 block w-full"
               [ngModel]="config.name"
               (ngModelChange)="updateConfig('name', $event)"
               placeholder="My slots"
        >
      </label>

      <label class="block">
        <span class="block text-sm font-medium leading-6 text-gray-900">Number of slots</span>
        <input type="number"
               class="form-input rounded mt-1 block w-full"
               [ngModel]="config.numberOfSlots"
               (ngModelChange)="updateConfig('numberOfSlots', $event)"
               [min]="1" [max]="7"
        >
      </label>

      <ngsm-selection-list availableItemsLabel="Available items to display"
                           selectedItemsLabel="Items to display"
                           [availableItems]="items"
                           [selectedItems]="config.availableItems"
                           (selectedItemsChange)="updateConfig('availableItems', $event)"
                           [trackByFn]="trackByIconName"
                           [labelFn]="labelByIconName"
      ></ngsm-selection-list>
    </div>
  </section>

  <section class="grid grid-cols-1 md:grid-cols-3 py-6 gap-8">
    <div class="col-span-1">
      <h2 class="text-xl font-bold tracking-tight text-gray-900">Layout and design</h2>
      <p class="text-gray-600">Configure the layout of the slot machine. You are also able to choose between various designs.</p>
    </div>

    <div class="col-span-1 md:col-span-2">
    </div>
  </section>
</main>
